@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    padding: 0;
    margin: 0;
}




/*########################### MENU BELOW ###########################*/

/* Header Margin */

.header {
    margin-top: 120px;
}

/* Header Configurations */

.header h1 {
    width: 100%;
    color: rgb(32, 40, 46);
    background-color: rgb(228, 231, 212);
    font-family: 'Raleway', sans-serif;
    font-size: 60pt;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
}


h2 {
    width: 100%;
    color: rgb(228, 231, 212);
    background-color: rgb(32, 40, 46);
    font-family: 'Raleway', sans-serif;
    font-size: 25pt;
    justify-content: center;
    text-align: center;
    padding: 75px 0;
}

/* Menu Section Configurations */

.appetizers {
    clear: both;
    background-color: rgb(228, 231, 212);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lunch {
    clear: both;
    background-color: rgb(228, 231, 212);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dinner {
    clear: both;
    background-color: rgb(228, 231, 212);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.beverages {
    clear: both;
    background-color: rgb(228, 231, 212);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Content Within Menu Section Configurations */

.leftside, .rightside {
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

.rightside {
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

.rightside h3, .leftside h3 {
    font-size: 16pt;
}

.rightside p, .leftside p {
    font-size: 12pt;
}

.rightside ul {
    font-size: 12pt;
}

.content {
    display: block;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#lunchright {
    padding-bottom: 40px;
}

/* Image Configurations */

.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: "Raleway", sans-serif;
}

.foodimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 16pt;
    text-shadow: 2px 2px 4px black;
}

/*########################### MENU ABOVE ###########################*/


@media (max-width: 1330px) {
    .header {
        margin-top: 100px;
    }
}

@media (min-width: 530px) and (max-width: 830px) {
    .header {
        margin-top: 60px;
    }

}

@media (max-width: 530px) {
    .header {
        margin-top: 50px;
    }

}

@media only screen and (max-device-width: 480px) {
    .header {
        margin-top: 50px;
    }
}